################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Compress/v15
/Compress/Debug
/Debug
/Compress/Release
/Release
